
.tabBar{
    height: 80px;
    background-color: #222b31;
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;z-index: 1;

}
.labelTab{
    font-size: 1.5rem;
    width: 200px;
    font-family: math;
    height: 40px;
    color: white;
}
.parentTab{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.labelTab:hover{
    background-color: rgba(255,66,79,255);
    color: black;
    height: 40px;
}
.labelTab:focus{
    /* background-color: white;
    color: black;
    height: 48px; */
    border-bottom: 0.5rem solid rgba(255,66,79,255);
}
.focusTab{

    border-bottom: 0.5rem solid rgba(255,66,79,255);
    /* background-color: white;
    color: black;
    height: 48px; */
}
.card{
    width: 375px;
    height: 410px;
    box-shadow: 0 4px 8px 0 rgba(242, 242, 242, 0.2);
    transition: 0.3s;
    padding: 1rem;
    border: 1px solid rgba(255,66,79,255);
    border-radius: 1rem;
    margin-top: 2rem;
}
.card:hover {
    box-shadow: 0 4px 16px 16px rgba(242, 242, 242, 0.2);
  }
.imageScreen{
    width: 45%;
    height: 150px;
    border-radius: 0.5rem;
}
.fontStyles{
    font-family: math;
    color: white;

}
.cardParent{
    display: flex;
    top:180px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #222b31;
}
.contentCard{
    width: 100%;
    height: 150px;
}
.voteDiv{
    display: flex;
    justify-content: space-around;
}