
.tabBar{
    height: 80px;
    background-color: #222b31;
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;z-index: 1;

}
.labelTab{
    font-size: 1.5rem;
    width: 200px;
    font-family: sans-serif;
    height: 40px;
    color: white;
}
.parentTab{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.labelTab:hover{
    color: black;
    height: 40px;
}
.labelTab:focus{
    border-bottom: 0.5rem solid #00FC87;
}
.focusTab{
    border-bottom: 0.5rem solid #00FC87;
}
.card{
    width: 375px;
    height: 410px;
    box-shadow: 0 4px 8px 0 rgba(242, 242, 242, 0.2);
    transition: 0.3s;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
}
.card-hover {
    width: 335px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(242, 242, 242, 0.2);
    transition: 0.3s;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
}
.card:hover {
    box-shadow: 0 4px 16px 16px rgba(242, 242, 242, 0.2);
  }
.imageScreen{
    width: 45%;
    height: 150px;
    border-radius: 0.5rem;
}
.imageScreen-hover{

    width: 60%;
    height: 250px;
    border-radius: 0.5rem;
}
.fontStyles{
    font-family: sans-serif;
    color: #fff;
    opacity: 0.8;

}
.cardParent{
    display: flex;
    top:180px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #222b31;
    min-height: 1000px;
}
.contentCard{
    width: 100%;
    height: 150px;
}
.voteDiv{
    display: flex;
    justify-content: space-around;
}
.backroundParent{
    background-color: #222b31;
    min-height: 100%;
    height: 100%;
}