
.labelTabMovie{
    font-size: 2rem;
    width: 700px;
    font-family: math;
    height: 40px;
    color: white;
}
.parentTabMovie{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.contentMoiveCard{
    width: 100%;
    height: 100%;
    filter: blur(8px);
    position: fixed;
}
.movieImage{

    width: 400px;
    height: 350px;
    right: 350px;
    top: 40px;
    position: relative;
    border-radius: 1rem;
}
.headerMovie{
    width: 700px;
    position: relative;
    left: 300px;
    bottom: 350px;
    background-color: rgb(21 20 20 / 20%);
    border-radius: 1rem;
}
.fontmovie{
    font-size: 2.5rem;
}

.font{
    display: flex;
    justify-content: center;
}
.voteMovieDiv{
    display: flex;
    justify-content: space-evenly;
}
.movieMargin{
    margin-top: -18rem;
    margin-bottom: 5rem;
}
.buttonMovie{
    width: 300px;
    height: 40px;
    font-size: 1.8rem;
    font-family: math;
    background-color: rgba(255,66,79,255);
    color: white ;
    border-radius: 0.5rem;
    position: relative;
    bottom: 450px;
    right: 350px;
}
.buttonMovie:hover{
    box-shadow: 0 4px 8px 8px rgba(242, 242, 242, 0.2);
}
.paddingLabel{
    padding: 0 1rem 0 1rem;
}
.paddingTop{
    padding-top:1rem ;
}
.backgroundButton{
    background-color: lightseagreen;
}